.home{
 
    text-align: center;
}
.home h1{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    /* letter-spacing: -10px; */
    font-family: Impact;
}
.home .content-text p{
    text-align: center;
    font-size: 35px;
}
.content-btn{
    display: flex;
    flex-direction: column;
}
.content-btn p{
    font-size: 40px;
}
.content-btn span{
font-size: 35px;
}
button{
    width: 250px;
    height: 70px;
    border: none;
    background-color: #FF4E88;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s;
}
button:hover{
    background-color: #FF8C9E;
    color: #fff;
}
